.component-chat {
  display: flex;
  height: 100%;
}

.component-chat__main {
  flex: 9;
  padding: 0 20px;
}
.component-chat__sidebar {
  flex: 3;
  padding: 0 20px;
}

.component-chat-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.component-chat-body__messagelist {
  padding: 3px;
  overflow-y: auto;
  flex: 1;
}
