.component-chat-message-input {
  height: 60px;
  background: rgba($text-light-gray, 0.1);
  position: relative;

  display: flex;

  .component-chat-message-input__textbox {
    flex: 8;
  }
  .component-chat-message-input__actions {
    flex: 2;
  }
}

.component-chat-message-input__textbox {
  .component-input-textarea {
    padding: 5px;
    margin: 0;
    height: 100%;
    .textarea-input {
      border: none;
      background: none;
      max-height: 100%;
      font-size: 12px;
      resize: none;
      outline: none;

      &:focus {
        @include box-shadow(none);
      }
    }
  }
}
.component-chat-message-input__actions {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  .component-c-button {
    @include simpleHover();
  }
}
