.component-user-card {
  @include transition(all 0.3s ease);
  padding: 10px 50px 10px 30px;
  display: flex;
  position: relative;

  .user-card-content {
    padding-left: 7px;

    .user-card-content-name {
      @extend .roboto-md;
      font-size: 10px;
    }

    .user-card-content-usermessage {
      @extend .roboto;
      font-size: 9px;
      color: $blue-gray-400;
    }
  }

  .bag-unread {
    @extend .roboto;
    @include border-radius(50%);
    text-align: center;
    background: $blue-gray-600;
    line-height: 18px;
    color: #fff;
    font-size: 9px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 10px;
    right: 30px;
  }

  .component-user-card-options {
    position: absolute;
    top: 10px;
    right: 30px;
  }

  &:hover {
    cursor: pointer;
    background: rgba($blue-gray-200, 0.1);
  }
}
