.component-user-card-image {
  @include border-radius(50%);
  max-width: 30px;
  max-height: 30px;
  position: relative;

  img {
    @include border-radius(50%);
    width: 30px;
    height: 30px;
    border: solid 1px $blue-gray-600;
  }

  .component-user-status {
    position: absolute;
    right: -3px;
    bottom: 2px;
  }
}
