.component-user-status {
  .component-user-status-icon {
    @include border-radius(50%);
    width: 10px;
    height: 10px;
    border: solid 1px $blue-gray-300;
    background: #fff;
    display: block;
    &.status--busy {
      background: #e95343;
    }
    &.status--iddle {
      background: #ffc000;
    }
    &.status--online {
      background: #10cf9b;
    }
  }
}
