.component-welcome {
  min-height: 100%;
  background: rgba(255, 0, 0, 0.1);
  justify-content: center;
  background: url("../images/bg-welcome.png");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  .welcome-content {
    max-width: 450px;
  }
  .welcome-title {
    @extend .stencil-light;
    font-size: 32px;
    line-height: 110%;
    padding-top: 40px;
  }
  .welcome-subtitle {
    @extend .stencil-bold;
    font-size: 32px;
    line-height: 110%;
    padding-top: 40px;
  }
}
