.component-page-homepage {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  @media (max-width: 768px) {
    height: auto;
  }
  .home-title {
    @extend .stencil-bold;
    font-size: 50px;

    @media (max-width: 1200px) {
      font-size: 40px;
    }
    @media (max-width: 990px) {
      font-size: 34px;
    }
    @media (max-width: 768px) {
      font-size: 25px;
      text-align: center;
      padding: 15px 0;
    }
  }

  .home-image {
    img {
      max-width: 100%;
    }
  }

  .home-layout {
    display: flex;
    flex: 1;
    align-items: center;
  }
  .home-content {
    flex: 1;
  }

  .btn-request-invite {
    padding-top: 50px;
    padding-bottom: 20px;
    button {
      @include simpleBlackBtn();
      height: 36px;
      line-height: 20px;
      padding: 8px 20px;
      display: inline-flex;
      font-size: 14px;
    }
  }
}

.home-sign-in-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @media (max-width: 768px) {
    justify-content: center;
  }
}
