.component-header {
  padding: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  background: #fff;
  position: relative;
  z-index: 1;
  @media (max-width: 768px) {
    display: block;
    padding: 15px 10px;
  }
  h1 {
    margin: 0;
  }
  .logo-contener {
    @media (max-width: 768px) {
      text-align: center;
      padding: 10px 0;
    }
  }
  #logo {
    max-height: 26px;
  }
  .component-header-actions {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    font-size: 12px;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}

.component-header-actions__link {
  @include simpleWhiteBtn();
  margin-right: 34px;

  @media (max-width: 768px) {
    display: block;
    margin: 0 5px;
  }
}

.component-header-actions__btn {
  @include simpleBlackBtn();
  button {
    color: #fff;
  }
}
