.component-signin-form {
  @extend .roboto;
  max-width: 400px;
  min-height: 400px;
  flex: 1;

  .form-title {
    @extend .roboto-md;
    font-size: 30px;
    line-height: 1.5;
    padding-bottom: 22px;
  }

  form {
    padding-bottom: 30px;
  }

  .component-input-row {
    padding-bottom: 20px;

    .textfield-input {
      @include border-radius(0);
      @include simpletext();
      border: none;
      background: #f5f8fa;
      height: 36px;
    }
  }

  .form-actions {
    justify-content: space-between;
    .forgot-link {
      @include simpletext();
      line-height: 23px;
      flex: 1;
      &:hover {
        color: darken($text-light-gray, 20%);
      }
    }
  }
  .component-c-button {
    button {
      @include simpleBlackBtn();
    }
  }

  .google-signin {
    border-top: solid 1px $blue-gray-200;
    padding: 30px 0;
  }
}
